<form method='post' action='https://www.paypal.com/cgi-bin/webscr' target='paypal'>
	<input type='hidden' name='cmd' value='_cart'>
	<input type='hidden' name='business' value='YOUR EMAIL HERE'>
	<input type='hidden' name='item_name' value='%TITLE-TEXT%'>
	<input type='hidden' name='item_number' value='%PRODUCT-CODE%'>
	<input type='hidden' name='amount' value='%PRICE%'>

	<input type='hidden' name='shipping' value='0.00'>
	<input type='hidden' name='currency_code' value='USD'>
	<input type='hidden' name='return' value=''>
	<input type='hidden' name='quantity' value='1'>
	<input type='hidden' name='add' value='1'>
	<input type='image' src='http://images.paypal.com/en_US/i/btn/x-click-but22.gif' border='0' name='submit' width='87' height='23' alt='Add to Cart'>
</form>